
#reorder-list-sortingToolBar{
	border:1px solid #ccc;
	background:#ffe;
	margin:1em 0;
	padding:5px;
	width:80%
}
#reorder-list-sortingToolBar a{
}
#reorder-list {
	margin:0;
	padding:0;
	width:80%
}
#reorder-list li {
	list-style:none;
	padding:5px;
	margin:5px 0;
	background:#eee;
	border:1px solid #ddd;
	width: 100%;
}
#reorder-list li span.grabHandle, #reorder-list-sortingToolBar span.grabHandle{
	display:block;
	float:left;
	width:4em;
	padding-right:0;
}
#reorder-list li span.grabHandle input{
	margin-top:-2px;
}
#reorder-list-sortingToolBar span.grabHandle input{
	visibility:hidden;
}

#reorder-list li .title, #reorder-list-sortingToolBar a.title{
	display:block;
	float:left;
	width:45%;
	}
#reorder-list li span, #reorder-list-sortingToolBar a{
	padding-right:2em;
}

.orderable-selected{
	border: none; outline: none
}
/*marks a drop zone*/
.orderable-drop-marker {
	/*width: 50%;*/
	height: 30px; /*ok*/
	background:#fff !important;
	border:1px dashed #ccc !important
}
.orderable-hover {
	/*hover over a selectable item*/ 
	cursor: move 
}
.orderable-dragging {
	/* item left behind */
	background: #fff;
	color: #555 !important
}
.orderable-avatar {
	/*item being dragged*/ 
	opacity: 0.55;
	list-style:none;
	background: #bea !important;
	width: 50% !important
}
.orderable-avatar * {display: none }
.orderable-avatar .title {display:block;margin:5px;font-weight: bold;font-size:1.2em }
.recentMove { background: #def }